/.gkr
.gnus.el
.emacs.d/history
.emacs.d/history/
.emacs.d/history*
history*
*history
*history*
history
/test.txt.orig
/.notion/.welcome_msg_displayed
/.notion/default-session--0/cfg_statusd.lua
/.notion/default-session--0/saved_layout.lua
/.notion/default-session--0/saved_queryhist.lua
/.notion/default-session--0/saved_wd.lua
/Zettelkasten/.#zettelkasten.org
/.emacs-bmk-bmenu-state.el
/.java/fonts/1.7.0_09/fcinfo-1-waschmaschine-LinuxMint-14-de.properties
/.jdownloader/jd/captcha/methods/flbs/script.jas
/.jdownloader/version.txt
/.jdownloader/.junique/115654c07.lock
=======
/.apvlvinfo
/.config/epdfview/main.conf
/.config/qpdfview/qpdfview.conf
/.tuxcards
.gnus.el
/.#.gitignore
/.#.pentadactylrc
/.emms-cache-b
/Zettelkasten/th-loesung-10-.tex
