/.gkr
.gnus.el
.emacs.d/history
.emacs.d/history/
.emacs.d/history*
history*
*history
*history*
history
/test.txt.orig
/.notion/.welcome_msg_displayed
/.notion/default-session--0/cfg_statusd.lua
/.notion/default-session--0/saved_layout.lua
/.notion/default-session--0/saved_queryhist.lua
/.notion/default-session--0/saved_wd.lua
/Zettelkasten/.#zettelkasten.org
/.emacs-bmk-bmenu-state.el
/.java/fonts/1.7.0_09/fcinfo-1-waschmaschine-LinuxMint-14-de.properties
/.jdownloader/jd/captcha/methods/flbs/script.jas
/.jdownloader/version.txt
/.jdownloader/.junique/115654c07.lock
/.apvlvinfo
/.config/epdfview/main.conf
/.config/qpdfview/qpdfview.conf
/.tuxcards
.gnus.el
/.#.gitignore
/.#.pentadactylrc
/Zettelkasten/.#Software.org
/Zettelkasten/zettelkasten.org.orig
/.emms-cache-b
/Zettelkasten/th-loesung-10-.tex
/.config/bluewho/settings.conf
/.kde/cache-florian-ThinkPad-X121e
/.kde/share/config/katerc
/.kde/share/config/kcmdisplayrc
/.kde/share/config/kcminputrc
/.kde/share/config/kconf_updaterc
/.kde/share/config/kcookiejarrc
/.kde/share/config/kdebugrc
/.kde/share/config/kdedrc
/.kde/share/config/kdeglobals
/.kde/share/config/kglobalshortcutsrc
/.kde/share/config/kio_httprc
/.kde/share/config/kioslaverc
/.kde/share/config/kmailrc
/.kde/share/config/knoderc
/.kde/share/config/ksmserverrc
/.kde/share/config/kuriikwsfilterrc
/.kde/share/config/mailtransports
/.kde/share/config/phonondevicesrc
/.kde/socket-florian-ThinkPad-X121e
/.kde/tmp-florian-ThinkPad-X121e
.pentadactyl/info/default/comand-history
.pentadactyl/info/default/register-ring
/.adobe/Flash_Player/AssetCache/XC34C7SW/8F903698240FE799F61EEDA8595181137B996156.heu
/.adobe/Flash_Player/AssetCache/XC34C7SW/8F903698240FE799F61EEDA8595181137B996156.swz
/.adobe/Flash_Player/AssetCache/XC34C7SW/cacheSize.txt
/.config/Synergy/Synergy.conf
/.synergy.conf.swp
